* {
    font-family: 'Merriweather', serif;
    margin: 5px;
    padding: 5px;
}

header {
    text-align: center;
    background-color: gray;
    color: white;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

p {
    text-align: start;
    font-size: 20px;
}

.mystory h1 {
    background-color: grey;
}
.educathis h1 {
    background-color: grey;
}

.followme h1 {
    background-color: grey;
}

.findus {
    display: flex;
    justify-content:center ;
}

.findus ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;

    padding: 1.5px 2px;
}

.findus li {
    list-style-type: none;
    flex-flow: column nowrap;
}

.findus ul li {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.findus li a  {
    width: 100%;
}

.edhis {
    font-size: large;
}